@import 'tailwindcss';

/* responsive breakpoints */
@theme {
  --breakpoint-xs: 26rem; /* 430px*/
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-ultrawide: 160rem; /* 2560px */
}

:root {
  /* colours */
  --white: #FFFFFF;
  --off-white: #EAE9EE;
  --nice-grey: #D7D6DD;
  --grey: #C7C6CD;
  --grid-line-colour: #97969D20;
  --light-mode-grey: #97969D;
  --dark-mode-grey: #77767D;
  --dark-grey: #57565D;
  --light-black: #38393C;
  --black: #292A2D;
  --dark-black: #1B1C1D;

  /* dimension variables */
  --vh: 100vh;
  --nav-height: 72px;
  --cell-height: calc((var(--vh) - var(--nav-height)) / var(--grid-rows));
  --two-cell-height: calc(2 * var(--cell-height));
  --cell-width: calc(100vw / var(--grid-columns));
  --two-cell-width: calc(2 * var(--cell-width));
  --three-cell-width: calc(3 * var(--cell-width));
  --content-space: calc(var(--vh) - var(--nav-height));

  /* responsiveness */
    /* default grid (for desktop) */
    --grid-columns: 5;
    --grid-rows: 3;
}

@media (max-width: 1023px) {
  :root {
    background-color: var(--off-white);

    /* grid layout for mobile */
    --grid-columns: 3;
    --grid-rows: 4;
      
    --cell-width: calc(100vw / var(--grid-columns));
    --cell-height: calc(var(--vh) / var(--grid-rows));
    --two-cell-width: calc(2 * var(--cell-width));
    --two-cell-height: calc(2 * var(--cell-height));
    --three-cell-width: calc(3 * var(--cell-width));
    --three-cell-height: calc(3 * var(--cell-height));
    --content-space: var(--vh);
  }
}

.theme-light {
  --bg-colour: var(--off-white);
  --text-colour: var(--black);
  --alt-text-colour: var(--light-mode-grey);

  background-color: var(--bg-colour);
  color: var(--text-colour);
}

/* no dark mode/theme changes on mobile */
@media (min-width: 1024px) {
  .theme-dark {
  --bg-colour: var(--dark-black);
  --text-colour: var(--white);
  --alt-text-colour: var(--dark-mode-grey);

  background-color: var(--bg-colour);
  color: var(--text-colour);
}
}

@layer base {
  h1 {
    @apply text-2xl md:text-4xl lg:text-6xl font-semibold;
  }

  h2 {
    @apply text-xl md:text-3xl font-medium;
  }

  p {
    @apply text-base md:text-lg;
  }
}

html {
  font-size: 16px;
  scroll-behavior: auto;
  overscroll-behavior: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

@media (max-width: 1023px) {
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--bg-colour);
  color: var(--text-colour);
  font-family: var(--font), system-ui, sans-serif;

  transition-property: color, var(--bg-colour);
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

section {
  scroll-margin-top: var(--nav-height);
}

/* grid content layout */
.grid-layout {
  width: 100vw;
  min-height: var(--content-space);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-auto-rows: minmax(0, var(--cell-height));
  position: relative;
  z-index: 1;
}

/* grid lines for desktop */
.grid-lines {
  position: absolute;
  inset: 0;
  pointer-events: none;
  
  background-image:
    /* vertical lines */
    repeating-linear-gradient(
      to right,
      var(--grid-line-colour) 0,
      var(--grid-line-colour) 1px,
      transparent 1px,
      transparent calc((100vw / var(--grid-columns)))
    ),

    /* horizontal lines */
    repeating-linear-gradient(
      to bottom,
      var(--grid-line-colour) 0,
      var(--grid-line-colour) 1px,
      transparent 1px,
      transparent calc(var(--content-space) / var(--grid-rows))
    );
  
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
}

/* grid lines for mobile */
@media (max-height: 1023px) {
  .grid-lines {
  position: absolute;
  inset: 0;
  pointer-events: none;
  
  background-image:
    /* vertical lines */
    repeating-linear-gradient(
      to right,
      var(--grid-line-colour) 0,
      var(--grid-line-colour) 1px,
      transparent 1px,
      transparent calc((100vw / var(--grid-columns)))
    ),

    /* horizontal lines */
    repeating-linear-gradient(
      to bottom,
      var(--grid-line-colour) 0,
      var(--grid-line-colour) 1px,
      transparent 1px,
      transparent calc(var(--content-space) / var(--grid-rows))
    );
  }
}

/* For WebKit browsers (Chrome, Safari, Opera, new Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* or width: 0px; background: transparent; */
}

/* For Internet Explorer and Edge (legacy) */
.hide-scrollbar {
    -ms-overflow-style: none;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none;
}

/* ------ ANIMATIONS ------ */
/* guide button animation */
@keyframes jump {
  0%, 70%, 100% {
    transform: translateY(0);
  }
  78% {
    transform: translateY(-8px);
  }
  82% {
    transform: translateY(0);
  }
  88% {
    transform: translateY(-6px);
  }
  92% {
    transform: translateY(0);
  }
}
.animate-jump {
  animation: jump 5s ease-in-out infinite;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideIn {
  animation: slideIn 0.35s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

/* mobile nav menu open animation */
@keyframes open {
  0% {
    clip-path: ellipse(5% 50% at 100% 50%);
    opacity: 0.5;
  }
  5% {
    clip-path: ellipse(5% 50% at 100% 50%);
    opacity: 0.75;
  }
  10% {
    clip-path: ellipse(10% 50% at 100% 50%);
    opacity: 1;
  }
  80% {
    clip-path: ellipse(80% 90% at 100% 50%);
    opacity: 1;
  }
  100% {
    clip-path: ellipse(120% 300% at 100% 50%);
    opacity: 1;
  }
}
.animate-open {
  animation: open 0.6s cubic-bezier(0.8, 0, 1, 1) forwards;
}
.animate-close {
  animation: open 0.6s cubic-bezier(0.8, 0, 1, 1) reverse forwards;
}

/* mobile menu content animation in */
@keyframes menuSlideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.overlay-content > * {
  opacity: 0;
  animation-name: menuSlideIn;
  animation-duration: 0.8s;
  animation-delay: 0.4s;
  animation-timing-function: cubic-bezier(0.5, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

@keyframes itemSlideIn {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.nav-button {
  opacity: 0;
  animation-name: itemSlideIn;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}